<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DLLs\" />
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="InfoAsyncFile" xsi:type="AsyncWrapper">
        <target name="IFile" xsi:type="File" fileName="${basedir}/Logs/INFO.log" />
      </target>
      <target name="ErrorAsyncFile" xsi:type="AsyncWrapper">
        <target name="EFile" xsi:type="File" fileName="${basedir}/Logs/ERROR.log" />
      </target>
      <target name="DebugAsyncFile" xsi:type="AsyncWrapper">
        <target name="EFile" xsi:type="File" fileName="${basedir}/Logs/DEBUG.log" />
      </target>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="InfoAsyncFile" />
      <logger name="*" level="Error" writeTo="ErrorAsyncFile" />
      <logger name="*" level="Fatal" writeTo="ErrorAsyncFile" />
      <logger name="*" level="Debug" writeTo="DebugAsyncFile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="ShinraMeterPath" value="C:\Windows\system32" />
    <add key="ShinraMeterDefaultName" value="ShinraMeter.exe" />
    <add key="ShinraMeterProcessName" value="ShinraMeter" />
    <add key="ShinraMeterAutorunWithTera" value="False" />
    <add key="TccPath" value="" />
    <add key="TccDefaultName" value="TCC.exe" />
    <add key="TccProcessName" value="TCC" />
    <add key="TccAutorunWithTera" value="False" />
    <add key="ShinraManagerTaskDescription" value="ShinraManager autogenerated task" />
    <add key="ShinraManagerTaskName" value="ShinraManager autogenerated task" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>